.homepage {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    /* background-color: #50AFEB; */
    color: #50AFEB;
}

.homepage h3 {
    margin: 0 0 30px 4px;
    font-weight: 400;
    font-size: medium;
}

.homepage h2 {
    margin: 0 0 30px 4px;
    font-weight: 400;
    font-size: 400%;
}

.homepage p {
    margin: 20px 0 0;
    max-width: 540px;
}