.homepage {
    font-family: 'Calibre';

    .welcome-text {
        // color: white;
        // color: #788BF9;
        color: #4dcbb8;
        // font-family: 'Courier New', Courier, monospace;
        position: absolute;
        left: 30%;
        top: 40%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        font-size: 24px;
        margin: 0;
        font-weight: 400;
        animation: fadeIn 1s 2s backwards;
    }

    .greeting-text {
        animation: fadeIn 1s 1s backwards;

        &::before {
            content: '<Welcome>';
            font-size: 18px;
            font-family: 'Courier New', Courier, monospace;
            position: absolute;
            margin-top: -40px;
            left: -15px;
            animation: fadeIn 1s 3s backwards;
            color: #d7983c;
        }
    }

    h2 {
        font-size: 64px;
        // color: #788BF9;
        font-weight: 400;
        margin-top: 0%;
        animation: fadeIn 1s 2s backwards;
    }

    p {
        font-size: 20px;
        max-width: 540px;
        margin-top: -7%;
        color: #4D9FCB;
        animation: fadeIn 1s 3s backwards;
        
        &::after {
            content: '</Welcome>';
            font-size: 18px;
            font-family: 'Courier New', Courier, monospace;
            position: absolute;
            margin-top: 40px;
            left: -15px;
            // animation: fadeIn 1s 3s backwards;
            // color: rgba(255, 255, 255, 0.662);
            // color: #78ccf9;
            color: #d7983c;
        }
    }
}