.homepage {
    font-family: 'Calibre';

    .welcome-text {
        color: #4dcbb8;
        position: absolute;
        left: 30%;
        top: 40%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        font-size: 42px;
        margin: 0;
        font-weight: 400;
        animation: fadeIn 1s 2s backwards;
    }

    .greeting-text {
        font-size: 36px;
        animation: fadeIn 1s 1s backwards;

        &::before {
            content: '<Welcome>';
            font-size: 18px;
            font-family: 'Courier New', Courier, monospace;
            position: absolute;
            margin-top: -40px;
            left: -15px;
            animation: fadeIn 1s 3s backwards;
            color: #d7983c;
        }
    }

    h2 {
        font-size: 84px;
        font-weight: 400;
        margin-top: -1%;
        animation: fadeIn 1s 2s backwards;
    }

    p {
        font-size: 24px;
        max-width: 750px;
        margin-top: -10%;
        color: #4D9FCB;
        animation: fadeIn 1s 3s backwards;
        
        &::after {
            content: '</Welcome>';
            font-size: 18px;
            font-family: 'Courier New', Courier, monospace;
            position: absolute;
            margin-top: 40px;
            left: -15px;
            // animation: fadeIn 1s 3s backwards;
            // color: rgba(255, 255, 255, 0.662);
            // color: #78ccf9;
            color: #d7983c;
        }
    }
}